
/*navbar*/
.navbar-wrapper {
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) repeat-x 3px -80px;
}

ul, li {
    list-style: none;
}
p {
    margin: 0;
}

img {
    width: 100%;
}

ul#main-menu {
    /*float: right;*/
    text-align: center;
    position: relative;
}
ul#main-menu li {
    float: left;
    padding: 10px 0;
}

nav {
    box-shadow: none;
}

nav:after {
    clear: both !important;
    content: '' !important;
}
nav ul.nav-tabs {
    border: none;
}

.navbar {
    margin-bottom: 0;
    border: none;
}

a, a:hover, ul#main-menu, ul#main-menu li, ul#main-menu:hover, ul#main-menu li:hover, ul#main-menu li:focus {
    text-decoration: none;
    color: #eee;
}
nav ul#main-menu a {
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) repeat-x 0 -300px;
}
ul#main-menu a:focus, ul.zone-list a:focus {
    background-color: #313131;
    text-decoration: none;
    color: #eee;

}

ul#main-menu li:hover, ul#main-menu a:hover {
    background-color: #3B3B3B;
}

ul#main-menu li:active, ul#main-menu a:active {
    background-color: #232222;
}
ul#main-menu li:last-child:before {
    content: 'HOT';
    background-color: red;
    color: #fff;
    position: absolute;
    right: -10px;
    top: 20px;
    font-size: 12px;
    line-height: 12px;
    padding: 1px 2px;
    transform: scale(0.7);
    z-index: 100;
}

.logo {
    font-size: 26px;
    font-weight: 500;
    line-height: 62px;
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) no-repeat 0 0;
    width: 162px;
    height: 44px;
    margin-top: 15px;
}

.logo i {
    padding: 10px;
}

form, input {
    border: none;
    cursor: auto;
    outline: none;
    font-size: 12px;
}

.box-right {
    margin-top: 23px;
}

.search-bar {
    background: #fff;
    float: left;
}
.search-bar, .search-bar form, .search-bar input {
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.search-bar i, .search-bar form {
    display: inline-block;
}

.search-bar i {
    padding: 5px 6px;
}

.login-btn {
    float: right;
    margin-top: 2px;
    margin-left: 17px;
}
.login-btn a {
    color: #eee;
    font-size: 13px;
}
ul.popover-list {
    padding: 0;
    color: #eee;
}
ul.popover-list li {
    color: rgba(238, 238, 238, 0.67);
    padding: 10px 15px;
}
ul.popover-list li i {
    padding: 0 8px;
    color: rgba(238, 238, 238, 0.67);
}
ul.popover-list li:hover {
    background: #3B3B3B;
    color: #fff;
}
.popover, .popover.bottom>.arrow:after {
    background: #313131;
    border: 1px solid black;
}
.popover-content {
    padding: 9px 0;
}

ul#main-menu li.active, ul#main-menu li.active a {
    background-color: #232222;
}

#zone {
    width: 100%;
    height: 35px;
    background-color: #C60000;
    box-shadow: 7px 0 20px 0 rgba(76, 76, 76, 0.85);
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) no-repeat 0 -230px;
    background-repeat: repeat-x;
}
#zone .zone-list {
    text-align: center;
}
#zone .zone-list li {
    display: inline-block;
    line-height: 35px;
    margin: 0 20px;
}
#zone .zone-list li a {
    background-color: transparent;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    font-size: 13px;
}
#zone .zone-list li a:hover, #zone .zone-list li.active a {
    background-color: #910000;
}


/*content*/
#content-box {
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.bg-box {
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    overflow: hidden;
}

.g-mn {
    width: 100%;
    margin-right: -252px;
    overflow: hidden;
}
.g-mn-l {
    margin-left: -252px;
    margin-right: 0;
}
.g-mnr {
    margin-right: 252px;
}
.g-mnl {
    margin-left: 252px;
}
.g-wrap {
    padding: 20px 20px 40px;
}
.g-content {
    width: 100%;
    height: auto;
}
.g-rside {
    width: 250px;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}


/*footer*/
#footer {
    position: relative;
    height: 125px;
    overflow: hidden;
    border-top: 1px solid #d5d5d5;
    background: #f9f9f9;
}
.f-content {
    width: 980px;
    margin: 0 auto;
    height: 125px;
    font-size: 12px;
}
.f-content a {
    background-color: transparent;
    color: #666;
    line-height: 23px;
    padding: 0;
}
.f-content i {
    width: 35px;
    height: 46px;
    font-size: 35px;
    line-height: 46px;
    float: left;
}
.ft-left, .ft-center, .ft-right  {
    float: left;
    margin-top: 30px;
    position: relative;
}
.copy {
    padding: 0;
}
.copy p {
    margin-bottom: 0;
}


/*scrollerToTop*/
.scrollup{
    position:fixed;
    width: 48px;
    height: 48px;
    bottom:20px;
    right:20px;
    display: none;
}

a.scrollup {
    outline:0;
    text-decoration:none;
    background-color: #333;
}
a.scrollup span {
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
}

a.scrollup:hover {
    opacity:1;
    text-decoration:none;
    -webkit-transition: all 400ms ease-out 0s;
    -moz-transition: all 400ms ease-out 0s;
    -o-transition: all 400ms ease-out 0s;
    transition: all 400ms ease-out 0s;
    background-color: #e06d5e;
}
a.scrollup span:hover {
    text-decoration:none;
}


/*  标题元素  */
.g-wrap12 {
    padding: 0 36px 40px 40px;
}

.g-title {
    border-bottom: 2px solid #c20c0c;
    overflow: hidden;
}
.g-title h3 {
    float: left;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
}
.g-title p:first-of-type {
    float: left;
    line-height: 30px;
    margin: 6px 10px 0 23px;
    font-size: 12px;
    color: #888787;
}
.g-title p:last-child {
    float: right;
    line-height: 30px;
    font-size: 12px;
    color: #888787;
}
.g-title p:last-child span {
    color: #c20c0c;
    font-weight: bold;
}


/* comment */
#comment-box {
    margin-top: 40px;
}
.m-cmmt {
    margin-top: 20px;
}
.m-cmmt .head img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: -100px;
}
.m-cmmt .m-cmmtipt {
    margin-left: 70px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
textarea.u-txt {
    width: 100%;
    margin-right: -20px;
    resize: none;
}
.m-cmmtipt .area {
    height: 50px;
    box-sizing: content-box;
}
.u-txtwrap {
    position: relative;
}
.arrclr {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
    border-bottom: 1px solid #c3c0c0;
    border-left: 1px solid #c3c0c0;
    background: white;
    z-index: 2;
}
.m-cmmtipt .btns {
    clear: both;
    padding-top: 10px;
    overflow: hidden;
}
.btns .fa {
    float: left;
    margin: 0 10px 0 0;
    cursor: pointer;
    line-height: 33px;
}
.comen-btn {
    float: right;
}
.comen-btn span {
    font-size: 12px;
    line-height: 33px;
    margin-right: 7px;
    color: #a9a9a9;
}
.comen-btn .btn {
    margin: 0;
    font-size: 12px;
    padding: 3px 6px;
}
.comment-list h4 {
    font-size: 1em;
}
.comment-list ul li {
    border-top: 1px solid gainsboro;
    padding: 15px 0;
    overflow: hidden;
}
.comment-list ul {
    padding: 0;
}







/* playerBar */
.g-bottomBar {
    position: fixed;
    _position: absolute;
    zoom: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: 1002;
}




/*media 媒体查询*/
@media (min-width: 768px) {
    ul#main-menu li.active:after {
        content: '\f0d8';
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -4px;
        color: #C60000;
        font-size: 1.5em;
    }
    .navbar-nav>li>a {
        padding: 15px 19px;
    }
}

@media (max-width: 768px) {
    .search-bar {
        width: 50%;
        position: absolute;
        left: 50%;
        margin-left: -18%;
    }
    .box-right {
        margin-top: 18px;
    }
    nav, ul#main-menu, li {
        width: 100%;
    }
    ul#main-menu li {
        padding: 0;
    }
}
@media (max-width: 630px) {
    .search-bar {
        width: 30%;
        left: 50%;
        position: absolute;
        margin-left: -8%;
    }
}

@media (max-width: 565px) {
    body {
        width: 565px;
    }
}


