
/*navbar*/
.navbar-wrapper {
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) repeat-x 3px -80px;
}

ul, li {
    list-style: none;
}
p {
    margin: 0;
}

img {
    width: 100%;
}

ul#main-menu {
    /*float: right;*/
    text-align: center;
    position: relative;
}
ul#main-menu li {
    float: left;
    padding: 10px 0;
}

nav {
    box-shadow: none;
}

nav:after {
    clear: both !important;
    content: '' !important;
}
nav ul.nav-tabs {
    border: none;
}

.navbar {
    margin-bottom: 0;
    border: none;
}

a, a:hover, ul#main-menu, ul#main-menu li, ul#main-menu:hover, ul#main-menu li:hover, ul#main-menu li:focus {
    text-decoration: none;
    color: #eee;
}
nav ul#main-menu a {
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) repeat-x 0 -300px;
}
ul#main-menu a:focus, ul.zone-list a:focus {
    background-color: #313131;
    text-decoration: none;
    color: #eee;

}

ul#main-menu li:hover, ul#main-menu a:hover {
    background-color: #3B3B3B;
}

ul#main-menu li:active, ul#main-menu a:active {
    background-color: #232222;
}
ul#main-menu li:last-child:before {
    content: 'HOT';
    background-color: red;
    color: #fff;
    position: absolute;
    right: -10px;
    top: 20px;
    font-size: 12px;
    line-height: 12px;
    padding: 1px 2px;
    transform: scale(0.7);
    z-index: 100;
}

.logo {
    font-size: 26px;
    font-weight: 500;
    line-height: 62px;
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) no-repeat 0 0;
    width: 162px;
    height: 44px;
    margin-top: 15px;
}

.logo i {
    padding: 10px;
}

form, input {
    border: none;
    cursor: auto;
    outline: none;
    font-size: 12px;
}

.box-right {
    margin-top: 23px;
}

.search-bar {
    background: #fff;
    float: left;
}
.search-bar, .search-bar form, .search-bar input {
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

.search-bar i, .search-bar form {
    display: inline-block;
}

.search-bar i {
    padding: 5px 6px;
}

.login-btn {
    float: right;
    margin-top: 2px;
    margin-left: 17px;
}
.login-btn a {
    color: #eee;
    font-size: 13px;
}
ul.popover-list {
    padding: 0;
    color: #eee;
}
ul.popover-list li {
    color: rgba(238, 238, 238, 0.67);
    padding: 10px 15px;
}
ul.popover-list li i {
    padding: 0 8px;
    color: rgba(238, 238, 238, 0.67);
}
ul.popover-list li:hover {
    background: #3B3B3B;
    color: #fff;
}
.popover, .popover.bottom>.arrow:after {
    background: #313131;
    border: 1px solid black;
}
.popover-content {
    padding: 9px 0;
}

ul#main-menu li.active, ul#main-menu li.active a {
    background-color: #232222;
}

#zone {
    width: 100%;
    height: 35px;
    background-color: #C60000;
    box-shadow: 7px 0 20px 0 rgba(76, 76, 76, 0.85);
    background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?4e5130eca6bce66507b3c9f2edce5340) no-repeat 0 -230px;
    background-repeat: repeat-x;
}
#zone .zone-list {
    text-align: center;
}
#zone .zone-list li {
    display: inline-block;
    line-height: 35px;
    margin: 0 20px;
}
#zone .zone-list li a {
    background-color: transparent;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    font-size: 13px;
}
#zone .zone-list li a:hover, #zone .zone-list li.active a {
    background-color: #910000;
}


/*content*/
#content-box {
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.bg-box {
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    overflow: hidden;
}

.g-mn {
    width: 100%;
    margin-right: -252px;
    overflow: hidden;
}
.g-mn-l {
    margin-left: -252px;
    margin-right: 0;
}
.g-mnr {
    margin-right: 252px;
}
.g-mnl {
    margin-left: 252px;
    border-left: 1px solid #d3d3d3;
}
.g-wrap {
    padding: 20px 20px 40px;
}
.g-content {
    width: 100%;
    height: auto;
}
.g-rside {
    width: 250px;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}


/*footer*/
#footer {
    position: relative;
    height: 125px;
    overflow: hidden;
    border-top: 1px solid #d5d5d5;
    background: #f9f9f9;
}
.f-content {
    width: 980px;
    margin: 0 auto;
    height: 125px;
    font-size: 12px;
}
.f-content a {
    background-color: transparent;
    color: #666;
    line-height: 23px;
    padding: 0;
}
.f-content i {
    width: 35px;
    height: 46px;
    font-size: 35px;
    line-height: 46px;
    float: left;
}
.ft-left, .ft-center, .ft-right  {
    float: left;
    margin-top: 30px;
    position: relative;
}
.copy {
    padding: 0;
}
.copy p {
    margin-bottom: 0;
}


/*scrollerToTop*/
.scrollup{
    position:fixed;
    width: 48px;
    height: 48px;
    bottom:80px;
    right:20px;
    display: none;
}

a.scrollup {
    outline:0;
    text-decoration:none;
    background-color: #333;
}
a.scrollup span {
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
}

a.scrollup:hover {
    opacity:1;
    text-decoration:none;
    -webkit-transition: all 400ms ease-out 0s;
    -moz-transition: all 400ms ease-out 0s;
    -o-transition: all 400ms ease-out 0s;
    transition: all 400ms ease-out 0s;
    background-color: #e06d5e;
}
a.scrollup span:hover {
    text-decoration:none;
}


/*  标题元素  */
.g-wrap12 {
    padding: 0 36px 40px 40px;
}

.g-title {
    border-bottom: 2px solid #c20c0c;
    overflow: hidden;
}
.g-title h3 {
    float: left;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
}
.g-title p:first-of-type {
    float: left;
    line-height: 30px;
    margin: 6px 10px 0 23px;
    font-size: 12px;
    color: #888787;
}
.g-title p:last-child {
    float: right;
    line-height: 30px;
    font-size: 12px;
    color: #888787;
}
.g-title p:last-child span {
    color: #c20c0c;
    font-weight: bold;
}


/* comment 评论*/
#comment-box {
    margin-top: 40px;
}
.m-cmmt {
    margin-top: 20px;
}
.m-cmmt .head img {
    float: left;
    width: 50px;
    height: 50px;
    /*margin-right: -100px;*/
}
.m-cmmt .m-cmmtipt {
    margin-left: 70px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
textarea.u-txt {
    width: 100%;
    margin-right: -20px;
    resize: none;
}
.m-cmmtipt .area {
    height: 50px;
    box-sizing: content-box;
    outline: none;
}
.u-txtwrap {
    position: relative;
}
.arrclr {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 11px;
    left: -4px;
    transform: rotate(45deg);
    border-bottom: 1px solid #c3c0c0;
    border-left: 1px solid #c3c0c0;
    background: white;
    z-index: 2;
}
.m-cmmtipt .btns {
    clear: both;
    padding-top: 10px;
    overflow: hidden;
}
.btns .fa {
    float: left;
    margin: 0 10px 0 0;
    cursor: pointer;
    line-height: 33px;
}
.comen-btn {
    float: right;
}
.comen-btn span {
    font-size: 12px;
    line-height: 33px;
    margin-right: 7px;
    color: #a9a9a9;
}
.comen-btn .btn {
    margin: 0;
    font-size: 12px;
    padding: 3px 6px;
}
.comment-list h4 {
    font-size: 13px;
}
.comment-list ul li {
    border-top: 1px solid gainsboro;
    padding: 15px 0;
    overflow: hidden;
}
.comment-list ul {
    padding: 0;
}
.comment-list .cutwrap {
    margin-left: 70px;
}
.comment-list .f-brk {
    font-size: 12px;
}
.comment-list .f-brk > a {
    color: #337ab7;
}
.comment-list .que {
    padding: 8px 20px;
    margin-top: 10px;
    background-color: #F4F4F4;
    border: 1px solid #dadada;
    position: relative;
}
.comment-list .que:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: -5px;
    left: 24px;
    transform: rotate(-45deg);
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    background: #F4F4F4;
    z-index: 2;
}
.comment-list .rp {
    margin-top: 13px;
    text-align: right;
    font-size: 13px;
}
.comment-list .rp .time {
    float: left;
    font-size: 12px;
    color: #a5a5a5;
}
.comment-list .rp a {
    color: #2080C3;
    font-size: 13px;
    padding: 0 5px;
}
.comment-list .rp a:last-of-type {
    color: #747474;
}
.comment-list .rp span {
    color: #dedede;
}
.comment-list .rp span:last-child {
    color: #353535;
}
#comment-box .pagination {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#comment-box .pagination>li>a {
    font-size: 12px;
    padding: 3px 8px;
    margin: 4px;
    color: #000;
    border-radius: 2px;
}
#comment-box .pagination > li > span {
    border: none;
    padding: 0;
    line-height: 32px;
    color: #000;
}
#comment-box .pagination > li > span:hover {
    background-color: #fff;
}
#comment-box .pagination > li.active > a, #comment-box .pagination > li.active > span {
    background-color: #D10100;
    color: #fff;
    border: none;
}
#comment-box .pagination > li > a:hover, #comment-box .pagination > li >a:focus {
    border: 1px solid #000;
    background-color: #fff;
}
#comment-box .pagination > li.active > a:hover, #comment-box .pagination > li.active > a:focus {
    border: none;
    background-color: #D10100;
}
#comment-box .pagination>.disabled>a, #comment-box .pagination>.disabled>a:focus, #comment-box .pagination>.disabled>a:hover, #comment-box .pagination>.disabled>span, #comment-box .pagination>.disabled>span:focus, #comment-box .pagination>.disabled>span:hover {
    background-color: #ECECEC;
    border: none;
    color: #afafaf;
}






/* playerBar */
.g-bottomBar {
    position: fixed;
    _position: absolute;
    zoom: 1;
    bottom: -39px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1002;
    height: 53px;
}
.hand {
    position: absolute;
    top: -9px;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.play-bar, .g-bottomBar .updn .f-fl, .lock-btn, #g-player .btns a, .oper .icn, .oper .ctrl {
    background: url(http://s2.music.126.net/style/web2/img/frame/playbar.png?97bb0fa1b5eace4d001d9f27e6fb0d95) no-repeat 0 9999px;
}

.play-bar {
    height: 53px;
    zoom: 1;
    margin-right: 67px;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.g-bottomBar .updn .left {
    position: absolute;
    top: -8px;
    right: 15px;
    width: 52px;
    height: 62px;
    background-position: 0 -380px;
}
.g-bottomBar .updn .right {
    position: absolute;
    top: 6px;
    right: 0;
    width: 15px;
    height: 52px;
    background-position: -52px -393px;
    pointer-events: none;
}
.updn .left .lock-btn {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 9px 17px;
}
.m-playbar-unlock .updn .left .lock-btn {
    background-position: -80px -380px;
}

.m-playbar-lock .updn .left .lock-btn {
    background-position: -100px -380px;
}

#g-player {
    z-index: 15;
    width: 980px;
    height: 47px;
    margin: 6px auto 0 auto;
}

#g-player .btns, #g-player .btns a, .song-img, #g-player .play-ctrl {
    float: left;
}

#g-player .btns {
    width: 137px;
    padding: 6px 0 0 0;
    overflow: hidden;
}
#g-player .btns a {
    display: block;
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    margin: 8px 8px 5px 0;
}
#g-player .btns a.prv {
    background-position: 0 -130px;
}
#g-player .btns a.play {
    background-position: 0 -204px;
    margin: 3px 13px 3px 5px;
    width: 35px;
    height: 35px;
}
#g-player .btns a.next {
    background-position: -80px -130px;
}

.song-img {
    width: 34px;
    height: 34px;
    margin-top: 10px;
    margin-left: 10px;
}

#g-player .play-ctrl {
    position: relative;
    width: 608px;
    height: 41px;
    margin: 6px 15px;
}

#g-player .play-ctrl .words {
    height: 28px;
    overflow: hidden;
    color: #e8e8e8;
    text-shadow: 0 1px 0 #171717;
    line-height: 28px;
    font-size: 12px;
}
.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
#g-player .play-ctrl .words .name {
    color: #e8e8e8;
    max-width: 300px;
}
#g-player .play-ctrl .words .by {
    max-width: 220px;
    margin-left: 15px;
    color: #9b9b9b;
}

.m-pbar .barbg, .m-pbar .rdy, .m-pbar .cur {
    background: url("http://s2.music.126.net/style/web2/img/frame/statbar.png?404c0f800c72d4e4927e7c8c172b15bd") no-repeat 0 9999px;
    height: 9px;
}
.m-pbar {
    position: relative;
}
.m-pbar .barbg {
    background-position: 0 0;
    margin-top: -2px;
    margin-right: 113px;
}
.m-pbar .rdy {
    background-position: 0 -30px;
}
.m-pbar .cur {
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    background-position: 0 -66px;
}
.m-pbar .btn {
    background: url("http://s2.music.126.net/style/web2/img/iconall.png?52d65336ecb0f0898952e7af3e425cde") no-repeat 0 9999px;
}
.m-pbar .btn {
    position: absolute;
    top: -7px;
    right: -13px;
    width: 22px;
    height: 24px;
    margin-left: -11px;
    background-position: 0 -250px;
    _background-position: 0 0;
}
.m-pbar .time {
    position: absolute;
    top: -5px;
    right: 21px;
    color: #797979;
    text-shadow: 0 1px 0 #121212;
    font-size: 13px;
}
.m-pbar .time span {
    color: #a1a1a1;
}

.oper .icn {
    float: left;
    width: 25px;
    height: 25px;
    margin: 16px 8px 0 0;
    text-indent: -9999px;
}
.oper .icn-add {
    background-position: -88px -163px;
}
.oper .icn-share {
    background-position: -114px -163px;
}
.oper .ctrl {
    position: relative;
    z-index: 10;
    width: 113px;
    padding-left: 13px;
    background-position: -147px -238px;
}
.oper .icn-vol {
    background-position: -2px -248px;
}
.oper .icn-loop {
    background-position: -3px -344px;
}
.oper .icn-list {
    display: inline-block;
    float: none;
    width: 28px;
    padding-left: 21px;
    background-position: -42px -68px;
    margin-right: 0;

}






/*media 媒体查询*/
@media (max-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    ul#main-menu li.active:after {
        content: '\f0d8';
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -4px;
        color: #C60000;
        font-size: 1.5em;
    }
    .navbar-nav>li>a {
        padding: 15px 19px;
    }
}

@media (max-width: 768px) {
    .search-bar {
        width: 50%;
        position: absolute;
        left: 50%;
        margin-left: -18%;
    }
    .box-right {
        margin-top: 18px;
    }
    nav, ul#main-menu, li {
        width: 100%;
    }
    ul#main-menu li {
        padding: 0;
    }
}
@media (max-width: 630px) {
    .search-bar {
        width: 30%;
        left: 50%;
        position: absolute;
        margin-left: -8%;
    }
}

@media (max-width: 565px) {
    body {
        width: 565px;
    }
}


